<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407621375642-u8fvah3g0ke22iroe55t1pa1k9fetqa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407621375642-u8fvah3g0ke22iroe55t1pa1k9fetqa7</string>
	<key>API_KEY</key>
	<string>AIzaSyBwRazfrbyTzdUdH4SUDPghBoPzZUHf0ug</string>
	<key>GCM_SENDER_ID</key>
	<string>407621375642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mkim.LingoLog</string>
	<key>PROJECT_ID</key>
	<string>lingolog-eed1b</string>
	<key>STORAGE_BUCKET</key>
	<string>lingolog-eed1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407621375642:ios:6614cdce462089cca9b123</string>
</dict>
</plist>