<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TranslationFunctionURL</key>
	<string>https://us-central1-your-project.cloudfunctions.net/translation</string>
	<key>DailyStoriesFunctionURL</key>
	<string>https://your-project.cloudfunctions.net/generateDailyStory</string>
</dict>
</plist>
